<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climbed</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'climbed/styles.css' %}">
    <script src="{% static 'climbed/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/110c5a2248.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <a href="{% url 'index' %}">
            <img src="{% static 'climbed/logo_icon.png' %}" class="logo-icon" alt="Logo Icon">
        </a>
        {% if user.is_authenticated %}
            <li style="margin-left: auto;"><a class="a-animation" href="{% url 'logout_view' %}">Sign Out</a></li>
        {% else %}
            <li class="mr-100"><a href="{% url 'index' %}">Home</a></li>
            <li><a class="a-animation" href="{% url 'login_view' %}">Sign In</a></li>
            <li><a class="a-animation" href="{% url 'register' %}">Get Started</a></li>
        {% endif %}
    </nav>
    
    {% block body %}
    {% endblock %}

    <footer>
        <p>© 2024 Climbed. All rights reserved.</p>
    </footer>
</body>
</html>