<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climbed</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'climbed/styles.css' %}">
    <script src="https://kit.fontawesome.com/110c5a2248.js" crossorigin="anonymous"></script>
</head>
<body>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const images = document.querySelectorAll(".image-with-loader");
    
        images.forEach(image => {
            const hideLoader = () => {
                const loader = image.previousElementSibling; 
                if (loader) {
                    loader.style.display = "none";
                }
                image.style.opacity = 1;
            };
    
            if (image.complete) {
                hideLoader(); 
            } else {
                image.addEventListener("load", hideLoader);
    
                image.addEventListener("error", function() {
                    const loader = image.previousElementSibling;
                    if (loader) {
                        loader.style.display = "none"; 
                    }
                    image.alt = "Image failed to load";
                });
            }
        });
    
        // Calendar functions
        const dayDivsEvent = () => {
            const dayDivs = document.querySelectorAll(".day-element"); 
            dayDivs.forEach(dayDiv => {
                let date = dayDiv.dataset.date;
                
                // We need to prefix one digit days and months with 0
                const year = date.split("-")[0];
                let month = date.split("-")[1];
                let day = date.split("-")[2];
                if (day.length == 1) day = `0${day}`;
                if (month.length == 1) month = `0${month}`;
                date = `${year}-${month}-${day}`;
                dayDiv.addEventListener("click", () => showForm(date));
            });
        }
    
        const buttons = document.querySelectorAll(".calendar header a");
        buttons.forEach(button => {
            button.addEventListener("click", (event) => {
                event.preventDefault();
                
                const url = button.getAttribute("href");
                fetch(url)
                .then(response => response.json())
                .then(data => {
                    updateCalendar(date=data.date, workouts=data.workouts);
                    dayDivsEvent();
                });
            });
        });
    
        dayDivsEvent();
        
    });
    
    function updateCalendar(date, workouts) { 
        const calendar = document.querySelector(".calendar");
        const monthH1 = document.getElementById("month-h1");
        const yearH1 = document.getElementById("year-h1");
        const calendarGrid = calendar.querySelector(".calendar-grid");
        const buttons = document.querySelectorAll(".calendar header a");
    
        // Change month h1
        monthH1.innerText = date.current_month_string;
        yearH1.innerText = date.current_year;
    
        // Change buttons inner values
        buttons[0].href = `get_month/previous/${date.current_month_number}/${date.current_year}`;
        buttons[1].href = `get_month/next/${date.current_month_number}/${date.current_year}`;
    
        // Changing calendar grid
        calendarGrid.innerHTML = "";
        for (const day of date.days_list) {
            const dayDiv = document.createElement("div")
            dayDiv.classList.add("day-element");
            dayDiv.dataset.date = `${date.current_year}-${date.current_month_number}-${day}`;
    
            const p = document.createElement("p");
            if (day === date.current_day && date.is_now_month && date.is_now_year) {
                p.classList.add("selected-day");
            }
            p.innerText = day;
            
            const taskDiv = document.createElement("div")
            taskDiv.classList.add("task");
            for (workout of workouts) { 
                let workout_day = workout.date.split("-")[2];
                if (workout_day == day) {
                    taskDiv.innerHTML = `<span>${workout.title}</span>`;
                }
            }
    
            dayDiv.appendChild(p);
            dayDiv.appendChild(taskDiv);
    
            calendarGrid.appendChild(dayDiv);
        }
    }
    
    function showForm(date) {
        const calendar = document.querySelector(".calendar");
    
        const formHTML = `
            <header style="flex-direction: column;"><h1>Add workout</h1></header>
            <form action="/add_workout" method="POST" class="form-workout">
                {% csrf_token %}
                <div class="column">
                    <div class="form-group">
                        <label for="workout_title">Workout title</label>
                        <input type="text" name="workout_title" id="workout_title" placeholder="Add workout title" required>
                    </div>
                    <div class="form-group">
                        <label for="workout_type">Workout type</label>
                        <input type="text" name="workout_type" id="workout_type" placeholder="power/endurance/finger power etc." required>
                    </div>
                    <div class="form-group">
                        <label for="planned_tiredness">Planned tiredness</label>
                        <select name="planned_tiredness" id="planned_tiredness" required>
                            <option value="" disabled selected>Select planned tiredness level</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <label for="date">Workout date</label>
                        <input type="date" name="date" value="${date}" cols="3" required>
                    </div>
                    <div class="form-group">
                        <label for="workout_description">Workout description</label>
                        <textarea name="workout_description" cols="3"
                         id="workout_description" placeholder="What you will be doing on the training" required></textarea>
                    </div>
                </div>
                <span></span>
                <input style="height: 50px; margin-right: auto;"; class="submit-button" type="submit" value="Save">
            </form>  
        `
        
        calendar.innerHTML = formHTML; 
    }
    </script>

    <nav>
        <a href="{% url 'index' %}">
            <img src="{% static 'climbed/logo_icon.png' %}" class="logo-icon" alt="Logo Icon">
        </a>
        {% if user.is_authenticated %}
            <li style="margin-left: auto;"><a class="a-animation" href="{% url 'logout_view' %}">Sign Out</a></li>
        {% else %}
            <li class="mr-100"><a href="{% url 'index' %}">Home</a></li>
            <li><a class="a-animation" href="{% url 'login_view' %}">Sign In</a></li>
            <li><a class="a-animation" href="{% url 'register' %}">Get Started</a></li>
        {% endif %}
    </nav>
    
    {% block body %}
    {% endblock %}
    
    <footer>
        <p>© 2024 Climbed. All rights reserved.</p>
    </footer>
</body>
</html>