{% extends "climbed/layout.html" %}
{% load static %}
{% block body %}
<div class="login-container login-container-reversed">
    <div class="form-section">
        <h1>Sign Up</h1>
        <form action="{% url 'login_view' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="example@gmail.com">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <input type="submit" value="Sign Up">
        </form>    
        <p>You already have an account? Sign in <a href="{% url 'login_view' %}">here</a> :)</p>
    </div>
    
    <div class="photo-section">
        <div class="column">
            <img src="{% static 'climbed/climb_big1.webp' %}" alt="Climbing photo">        
            <img src="{% static 'climbed/climb_small1.webp' %}" alt="Climbing photo">        
        </div>
        <div class="column">
            <img src="{% static 'climbed/climb_small2.webp' %}" alt="Climbing photo">        
            <img src="{% static 'climbed/climb_big2.webp' %}" alt="Climbing photo">        
        </div>
    </div>
</div>
{% endblock %}
