{% extends "climbed/layout.html" %}
{% load static %}
{% block body %}
    <main>
        <div class="login-container login-container-reversed">
            <div class="form-section">
                <h1>Sign Up</h1>
                {% if message %}
                    <div class="error">
                        {{ message}}
                    </div>
                {% endif %}
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" placeholder="Enter your username" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter your password" required>
                    </div>
                    <div class="form-group">
                        <label for="confrmation">Confirm password</label>
                        <input type="password" name="confirmation" id="confrmation" placeholder="Enter your password again" required>
                    </div>
                    <input type="submit" value="Sign Up">
                </form>    
                <p>You already have an account? Sign in <a href="{% url 'login_view' %}">here</a> :)</p>
            </div>
            
            <div class="photo-section">
                <div class="column">
                    <img src="{% static 'climbed/climb_big1.webp' %}" alt="Climbing photo">        
                    <img src="{% static 'climbed/climb_small1.webp' %}" alt="Climbing photo">        
                </div>
                <div class="column">
                    <img src="{% static 'climbed/climb_small2.webp' %}" alt="Climbing photo">        
                    <img src="{% static 'climbed/climb_big2.webp' %}" alt="Climbing photo">        
                </div>
            </div>
        </div>
    </main>
{% endblock %}
